
<div class="container mt-4">

    <%= form_for @ticket do |f| %>
        <div class="form-group">
            <%= f.label :title, 'Título', class: 'form-label' %>
            <%= f.text_field :title, class: 'form-control' %>
        </div>
        
        <div class="form-group mt-3 mb-3 d-flex gap-5">
           <div>
                <%= f.label :status, 'Status', class: 'form-label' %>
            </div>
            <div>
            <%= f.check_box :status, class: 'form-check-input' %>
            </div>
           
        </div>
        
        <div class="form-group mt-3 mb-3">
            <%= f.label :descricao, 'Descrição', class: 'form-label' %>
            <%= f.text_area :descricao, class: 'form-control' %>
        </div>
        
        <div class="form-group mt-3 mb-3">
            <%= f.label :image, 'Imagem', class: 'form-label' %>
            <%= f.file_field :image, class: 'form-control' %>
        </div>
        
        <div class="form-group d-flex justify-content-start align-items-center gap-2">
            <%= f.submit 'Editar Ticket', class: 'btn btn-primary' %>
            <%= link_to 'Voltar', tickets_path, class: 'btn btn-secondary ' %>
        </div>
    <% end %>
  
</div>